{{ define "metaTitle" }}Seite nicht gefunden&nbsp;&bull;&nbsp;{{- .Site.Title -}}{{ end }}
{{ define "metaAuthor" }}{{- .Params.author -}}{{ end }}
{{ define "metaDescription" }}{{ end }}
{{ define "metaKeywords" }}{{ end }}
{{ define "metaRobots" }}noindex, nofollow{{ end }}

{{ define "title" }}Seite nicht gefunden{{ end }}
{{ define "content" }}
<h2>Seite nicht gefunden</h2>
<hr>
<div id="content" class="clearfix">
  Die angeforderte Seite wurde leider nicht gefunden.
  Eventuell ist der verwendete Link nicht mehr gültig.
</div>
{{ end }}
